@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

table,
tr,
td {
  border: 2px solid orange;
  border-collapse: collapse;
  margin: 20px auto;
  padding: 20px 100px;
  font-family: lato;
}
tr {
  padding: 20px 100px;
  background: rgb(28, 0, 128);
  color: white;
}
th {
  background: orange;
  color: black;
  text-align: center;
  padding: 20px;
}
